/* Your regular styles for larger screens (PC) */

/* Media query for screens with a maximum width of 767px (typical mobile devices) */
@media (max-width: 767px) {
    /* Styles to hide the sidebar on small screens */
    .aside {
      display: none;
    }
  }
/* App.css */
.cover {
  object-fit: cover;
}

/* Bluish grey color for the Card in dark mode */
.ant-card {
  background-color: #475569;
}

/* Darker bluish grey color for the Card's head in dark mode */
.ant-card-head {
  background-color: #2a3340;
}

/* Bluish grey color for the Card's body in dark mode */
.ant-card-body {
  background-color: #475569;
  color: white; /* Set text color to white in dark mode */
}


/* Fancy black color for Col background in dark mode */
.ant-config-provider-dark {
  background-color: #1a1a1a;
}
